{% extends 'base.html' %}
{% block title %} Seja Bem Vindo {% endblock %}
{% block main %}
<div class="container">
    <h1>Bem Vindo</h1>
    {% if user.is_authenticated %}
        <p>Olá {{ user.username }}</p>
        <a href="{% url 'task_list' %}">Tarefas</a>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
{% endblock %}