{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Login {% endblock %}
{% block main %}
<div class="container col-lg-3 col-md-4">
<h5>Login</h5>
<form method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <button type="submit" class="btn btn-info">Logar</button>

</form>
</div>
{% endblock %}
