{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Tarefa {% endblock %}
{% block main %}
<div class="container">
<h2>Sistema de Tarefas</h2>
    Olá, {{ user.username }}.<br>
    <a href="{% url 'logout' %}">Sair</a><br><br>
    <a href="{% url 'task_list' %}">Voltar</a><br><br>
    <h5>Tarefa</h5>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>

{% endblock %}