{% extends 'base.html' %}
{% block title %} Tarefas {% endblock %}
{% block main %}

<div class="container">
<h2>Sistema de Tarefas</h2>
    Olá, {{ user.username }}.<br>
    <a href="{% url 'logout' %}">Sair</a><br><br>
    <a href="{% url 'home' %}">Home</a>
    <h5>Lista de Tarefas</h5>
    <a href="{% url 'task_new' %}" class="btn btn-primary">Nova Tarefa</a>
    <br><br>
    <table class="table table-striped">
        <thead>
            <th scope="col">Cód.</th>
            <th scope="col">Título da Tarefa</th>
            <th scope="col">Status Tarefa</th>
            <th scope="col">Data Criação</th>
            <th scope="col">Ult. Alteração</th>
            <th scope="col">Criado por</th>
            <th scope="col">Opções</th>
        </thead>
        <tbody>
            {% for instance in object_list %}
                <tr>
                    <td scope="row">{{ instance.id }}</td>
                    <td scope="row">{{ instance.nome_tarefa }}</td>
                    <td scope="row">
                        {% if instance.status_tarefa == 1 %}
                            A fazer
                        {% elif instance.status_tarefa == 2  %}
                            Concluída
                        {% endif %}
                    </td>
                    <td scope="row">{{ instance.data_criacao_tarefa }}</td>
                    <td scope="row">{{ instance.data_ultima_alteracao }}</td>
                    <td scope="row">{{ instance.user }}</td>
                    <td scope="row">
                        <a href="{% url 'task_update' instance.id %}">Alterar</a> /
                        <a href="{% url 'task_delete' instance.id %}">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}