{% extends 'base.html' %}
{% block title %} Confirma {% endblock %}
{% block main %}
<div class="container">
    <h1>Confirmar exclusão da tarefa abaixo?</h1>
    <i>{{ object }}</i>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Deletar</button>
    </form>
    <a href="{% url 'task_list' %}">Voltar</a>
</div>
{% endblock %}